.dashboard{
    .body{
        .left-section{
            
            background-color: lavender;
            width: 500px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            .dropdown-container{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                p{
                    font-size: 14px;
                    margin-right: 10px;
                }
                select{
                    outline: none;
                    border: none;
                    background-color: white;
                    font-size: 14px;
                    border-radius: 4px;
                    box-shadow: 0 0 6px 0 lightsteelblue;
                    padding: 4px 8px;
                    flex: 1;
                }
            }
            
            .card-name{
                margin-bottom: 10px;
                font-size: 14px;
            }
            .card{
                background-color: white;
                flex: 1;
                padding: 10px 0;
                border-radius: 4px;
                box-shadow: 0 0 6px 0 lightsteelblue;
                overflow: auto;
                .line{
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    padding: 4px 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: whitesmoke;
                    }
                    .active{
                        font-weight: bold;
                    }
                    .dot{
                        height: 4px;
                        width: 4px;
                        background-color: black;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }

            }
            .card:not(:last-child){
                margin-bottom: 20px;
            }
        }
    }
}