.dashboard{
    .body{
        .right-section{
            flex: 1;
            padding: 10px;
            .empty-event{
                border: 5px dashed rgb(212, 212, 212);
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}