.table-container{
    table{
        width: 100%;
        td{
            padding: 5px 10px;
            background-color: lightgray
        }
        td:first-child{
            width: 200px;
        }
    }
}