.right-section{
    .modal-container{
        height: 100vh;
        width: 100vw;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        .modal{
            height: 540px;
            width: 540px;
            background-color: white;
            box-shadow: 0 0 6px 0 gray;
            border-radius: 4px;
            position: relative;
            svg{
                position: absolute;
                right: 5px;
                top: 5px;
                color: darkgray;
                &:hover{
                    color: gray;
                    cursor: pointer;
                }
            }
        }
    }
}