.nav-bar{
    display: flex;
    padding: 10px;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: relative;
    .title{
        color: white;
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        left: 10px;
        float: left;
    }
}