.nav-bar{
    .search-bar-container{
        position: relative;
        input{
            border: none;
            outline: none;
            width: 500px;
            border-radius: 4px;
            padding: 4px 8px;
            font-size: 14px;
        }
        .suggestions-container{
            position: absolute;
            background-color: white;
            width: 500px;
            background-color: whitesmoke;
            border-radius: 4px;
            top: calc(100% + 1px);
            border: 1px solid lightgray;
            background-color: white;
            .suggestion{
                font-size: 14px;
                cursor: pointer;
                padding: 2px 8px;
                &:hover{
                    background-color: whitesmoke;
                }
            }
        }
    }
}